/* Importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  max-width: 1600px;
  min-width: 300px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

/* Main container having both image and login */
.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}

/* Log in Parent container */
.login{
  width: 60%;
  margin: 10em auto 0em auto;
}
.item-container{
  margin-bottom: 0.4em;
}
.form-item {
  width: 100%;
  margin-top: 0.2em;
  font-size: 1.1em;
}
.input,
.submit-btn {
  padding: 0.6em;
  border: none;
}
.input {
  background-color: rgb(224, 221, 221);
}

#remember-me {
  margin: 0.6em 0.6em 0 0;
}
.submit-btn {
  background-color: rgb(41, 41, 136);
  color: white;
}
.submit-btn:hover{
  background-color: rgb(71, 71, 143);
  cursor: pointer;
}

/* CSS for Image section. .image is the parent class of image */
.image {
  background-color: rgb(219, 19, 19);
}
.image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 50%;
}

/* Media Query for tablet */
@media only screen and (max-width: 992px) {
  .container{
    grid-template-columns: 1fr 1fr;
  }
}

/* Media Query for Mobiles*/
@media only screen and (max-width: 768px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr
  }
  .login{
    margin-bottom: 2em;
    order: -1;

  }
}